ul {
    text-align: right;
}

li {
  width: 200px;
  height: 200px;
  color: #FFF;
  text-align: center;
  display: inline-block;
}

.first {
  background-color: blue;
}

.second {
  background-color: red;
  margin-left: auto;
}

.last {
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 40px;
  text-align: center;
}
