div {
  width: 150px;
  height: 150px;
}

.primeiro {
  background-color: red;
}

.segundo {
  background-color: blue;
}

.ultimo {
  background-color: yellow;
  position: static;
}

.interno {
  background-color: magenta;
  position: absolute;
  left: 20px;
  top: 20px;
}
